<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kanawish.sample.mvi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TasksApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.tasks.TasksActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.edittask.EditTaskActivity"
            android:exported="true" />
        <activity
            android:name=".view.statistics.StatisticsActivity"
            android:exported="true" />
    </application>

</manifest>